{% extends 'base.html' %}
{% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="padding:20px">
        <div>
            <label>
                Movie Name:
            </label>
            <input type="text" name="movie-name" placeholder="Enter the movie name">
        </div>
        <div style="display:flex;" >
            <label>
                Movie Desc:
            </label>
            <textarea type="text" name="movie-desc" cols="80", rows="10"></textarea>
        </div>
        <div>
            <label>
                Movie year:
            </label>
        <input type="number" name="movie-year">
        </div>
        <div>
            <label>
                Movie img:
            </label>
            <input type="file" name="movie-image">
        </div>
        <div>
            <input type="submit" value="Add Movie">    </div>
    </div>
</form>
{% endblock %}